/*!************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/index.css ***!
  \************************************************************************************************************************************/
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10px;
}
/*!***************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/components/Header/Header.module.scss ***!
  \***************************************************************************************************************************************************************/
.Header-module___k5rxh {
  background-color: grey;
  padding: 25px 50px;
  font-size: 20px;
  font-weight: 600;
}

.Header-module___TG2me {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.Header-module___MjRFK {
  text-decoration: none;
}
/*!**************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/pages/ChatPage/ChatPage.module.scss ***!
  \**************************************************************************************************************************************************************/
.ChatPage-module___xrjhp {
  border: 1px solid black;
}
